body {
    margin: 0;
    color: #000;
    font-family: "TrebuchetMS";
}

* {
    box-sizing: border-box;
    line-height: 100%;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.header-bar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    text-align: center;
    background-color: #252526;
    z-index: 3;
    border: 1px solid #222;
    box-shadow: #222 0em 0em 0.6em;
}

.manual-area {
    position: relative;
    width: 100%;
    flex-grow: 1;
    background-image: url(../img/web-background.jpg);
    z-index: 1;
}

.header-bar-name {
    position: relative;
    display: inline-block;
    color: #fff;
    padding: 0 20px;
    flex-shrink: 1;
    white-space: nowrap;
    line-height: 40px;
    vertical-align: top;
    text-align: center;
    font-size: 18px;
    background-color: #fff3;
}

.header-error-button {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 40px;
    text-align: center;
    white-space: nowrap;
    line-height: 40px;
    font-size: 30px;
    cursor: pointer;
    background-color: #f55;
    color: #fff;
}

.header-error-button:hover {
    background-color: #f55a;
}

.manual-tab {
    vertical-align: top;
    position: relative;
    flex-grow: 1;
    width: auto;
    height: 40px;
    padding: 0 10px;
    margin: 0 1px;
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.2);
    color: #fff;
}

.manual-tab:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.manual-tab:not(.manual-tab-selected):active {
    color: #000;
    background-color: #fff;
}

.manual-tab-name {
    position: relative;
    display: inline-block;
    line-height: 40px;
    font-size: 18px;
    min-width: 50px;
}

.manual-tab.manual-tab-selected {
    color: #000;
    background-color: #fff;
    cursor: default;
}

.manual-tab.manual-tab-selected .manual-tab-close:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.manual-tab.manual-tab-error {
    color: #fff;
    background-color: #f55;
    cursor: default;
}

.manual-frame {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.manual-frame-frame {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
    z-index: 1;
}

.manual-frame-loader-back {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0008;
    display: none;
}

.manual-frame-loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
    background-color: #000c;
    border-radius: 20px;
    z-index: 3;
    pointer-events: none;
}

.manual-frame-loader-spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 60px;
    height: 60px;
    border: 6px solid #fff;
    border-radius: 50%;
    border-top-color: #0000;
    animation: spin 0.7s linear infinite;
}

@keyframes spin {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

.repo-loader {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: #000d;
    text-align: center;
}

.repo-loader-text {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    transform: translateY(-50%);
    color: #fff;
    font-size: 40px;
    font-weight: 700;
    padding: 0 40px;
}

.footer-bar {
    position: relative;
    width: 100%;
    text-align: center;
    background-color: #252526;
    z-index: 2;
    border: 1px solid #222;
    box-shadow: #222 0em 0em 0.6em;
}

.widget {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin: 3px;
}

.widget-timer {
    width: 111px;
    height: 70px;
    background-image: url(../img/timer.png);
    background-size: 100% 100%;
    margin-right: 30px;
}

.widget-timer-back, .widget-timer-front {
    position: absolute;
    left: 0;
    padding-left: 4px;
    top: -1px;
    width: 100%;
    font-family: "Digits";
    font-size: 30px;
    transform: scaleY(1.38);
}

.widget-timer-back {
    z-index: 1;
    color: #1e1e1e;
}

.widget-timer-front {
    z-index: 2;
    color: #f00;
}

.widget-serial {
    width: 145px;
    height: 70px;
    background-image: url(../img/serial.png);
    background-size: 100% 100%;
    font-family: "AnonymousPro";
    color: #000d;
    font-size: 34px;
    padding: 33px 0 0 2px;
}

.widget-battery {
    width: 112px;
    height: 63px;
    background-size: 100% 100%;
}

.widget-battery-DoubleA {
    background-image: url(../img/doublea.png);
}

.widget-battery-DCell {
    background-image: url(../img/dcell.png);
}

.widget-port {
    width: 145px;
    height: 63px;
    background-image: url(../img/portplate.png);
    background-size: 100% 100%;
}

.widget-port-port {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-size: 100% 100%;
}

.widget-indicator {
    width: 115px;
    height: 50px;
    background-image: url(../img/indicatoroff.png);
    background-size: 100% 100%;
    font-family: "OstrichSans";
    color: #fffd;
    font-size: 30px;
    padding: 9px 0 0 38px;
}

.widget-indicator-lit {
    background-image: url(../img/indicatoron.png);
}