@font-face {
    font-family: "SpecialElite";
    src: url(../font/SpecialElite.ttf);
}

@font-face {
    font-family: "TrebuchetMS";
    font-style: normal;
    font-weight: 400;
    src: url(../font/trebuc.ttf);
}

@font-face {
    font-family: "TrebuchetMS";
    font-style: normal;
    font-weight: 700;
    src: url(../font/trebucbd.ttf);
}

@font-face {
    font-family: "TrebuchetMS";
    font-style: italic;
    font-weight: 400;
    src: url(../font/trebucit.ttf);
}

@font-face {
    font-family: "AnonymousPro";
    src: url(../font/AnonymousPro.ttf);
}

@font-face {
    font-family: "OstrichSans";
    src: url(../font/OstrichSans.otf);
}

@font-face {
    font-family: "Digits";
    src: url(../font/Digits.ttf);
}